################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/AssetFlow_Core/.vs
/AssetFlow_Core/AssetFlowCore.Application/bin/Debug/net8.0
/AssetFlow_Core/AssetFlowCore.Application/obj
/AssetFlow_Core/AssetFlowCore.Domain/bin/Debug/net8.0
/AssetFlow_Core/AssetFlowCore.Domain/obj
/AssetFlow_Core/AssetFlowCore.Infrastructure/bin/Debug/net8.0
/AssetFlow_Core/AssetFlowCore.Infrastructure/obj
/AssetFlow_Core/AssetFlowCore.Tests/bin/Debug/net8.0
/AssetFlow_Core/AssetFlowCore.Tests/obj
/AssetFlow_Core/AssetFlow_Core/bin/Debug/net8.0
/AssetFlow_Core/AssetFlow_Core/obj
/AssetFlowCore.Application/bin/Debug/net8.0
/AssetFlowCore.Application/obj
/AssetFlowCore.Domain/bin/Debug/net8.0
/AssetFlowCore.Domain/obj
/AssetFlowCore.Infrastructure/bin/Debug/net8.0
/AssetFlowCore.Infrastructure/obj
/AssetFlowCore.Tests/bin/Debug/net8.0
/AssetFlowCore.Tests/obj
/AssetFlowCore.WebApi/bin/Debug/net8.0
/AssetFlowCore.WebApi/obj
/AssetFlowCore.UnitTests/bin/Debug/net8.0
/AssetFlowCore.UnitTests/obj
/AssetFlowCore.IntegrationTests/bin/Debug/net8.0
/AssetFlowCore.IntegrationTests/obj
/AssetFlowCore.Application/bin/Release/net8.0/refs
/AssetFlowCore.Application/bin/Release/net8.0
/AssetFlowCore.Benchmarks/bin
/AssetFlowCore.Benchmarks/obj
/AssetFlowCore.Domain/bin/Release/net8.0
/AssetFlowCore.Infrastructure/bin/Release/net8.0
*.log
*.env
/AssetFlowCore.IntegrationTests/bin/Release/net8.0
/AssetFlowCore.UnitTests/bin/Release/net8.0
/AssetFlowCore.WebApi/bin/Release/net8.0
/AssetFlowCore.IntegrationTests/TestResults/b09fad07-c91b-4cd2-91a4-e87022a12f7b
/AssetFlowCore.IntegrationTests/TestResults
